<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Calculo de Perimetros
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-select (ionChange)="manejarSeleccionFiguraGeometrica($event)" label="Tipo de Figura Geometrica">
    <ion-select-option value="circulo">circulo</ion-select-option>
    <ion-select-option value="TrianguloEscaleno">triangulo Escaleno</ion-select-option>
    <ion-select-option value="TrianguloEquilatero">triangulo Equilatero</ion-select-option>

  </ion-select>

  <app-circulo *ngIf="esCirculo()" />
  <app-triangulo-equilatero *ngIf="esTrianguloEquilatero()" />
  <app-triangulo-escaleno *ngIf="esTrianguloEscaleno()" />
</ion-content>

